*.annot
*.cmi
*.cmo
*.cmx
*.swp
.depend

*.o
*.lo
*.la
*.a
*.so
*.so.*

*.exe
*.out
*.app

*.output

config.status
gen_num.txt
autom4te.cache/
config.log
configure*
server_ip.txt

_opam
cil/doc
cil/bin
cil/obj
cil/ocamlutil/perfcount.c
cil/lib/Cilly.pm
